@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: black;
  background-color: rgb(255, 255, 255);
  background-image: url(./imagens/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-itens {
  justify-content: center;
  display: flex;
  align-items: center;
  min-width: auto;
}

.menu-itens ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 40px;
  position: static;
}

.menu-itens ul li a {
  color: rgb(29, 28, 28);
  text-decoration: none;
  font-size: 22px;
}

.menu-itens ul :hover {
  color: rgb(238, 237, 237);
  border-radius: 2px;
}

.container-header {
  height: 90vh;
  width: 90vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0 80px;
  position: relative;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h2{
  width: 89%;
  text-transform: uppercase;
  letter-spacing: 3px;

}

.container-header h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  padding: 0 ;
  margin-right: 20px;
  width: 89%;
  margin-top: 2em;
  
}

.imagem-principal {
  width: 20em;
  height: 20em;
  border-radius: 50%;
  margin-left: 7em;
  margin-right: 10em;
  min-width: auto;
}

.bloco1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bloco2 {
  width: 100%;
  margin-top: -50px;
}

.social-media1,
.social-media2 {
  margin-top: 1.5rem;
  display: flex;
}

.social-media1,
.social-media2 {
  padding: 1rem 4px;
  border: 3px solid rgb(114, 109, 109);
  align-items: center;
  justify-content: center;
  width: 22em;
  height: 3.3em;
}

.social-media1 a ,
.social-media2 a {
  color: #3a13c7;
  font-size: 27px;
  margin-left: 5px;
  text-decoration: none;
  font-family: 'Teko', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.social-media1 a:hover{
  color: #ffffff;
}
.social-media2 a:hover{
  color: #ffffff;
}

.social-media1:hover {
  background-color: #0584c9;
  cursor: pointer;
}

.social-media2:hover {
  background-color: #0e0d0e;
  cursor: pointer;
}

.imagem-linkedin {
  width: 1.5em;
  height: 1.5em;
  background-color: aliceblue;
  border-radius: 30%;
  margin-top: 0.3em; 
  margin-right: 0.3em;
  margin-left: 12px;
}

.imagem-git {
  background-color: aliceblue;
  border-radius: 100%;
  height: 1.7em;
  width: 1.7em;
  margin-top: 0.3em;
  margin-right: 0.3em;
}

.img1 {
  width: 20em;
  height: 24em;
  padding: 0 6em;
  
}

.sobre {
  display: flex;
  margin: 30px;
  height: auto;
  align-items: center;
}

.descrição {
  margin-right: 3em;
}

.descrição h2 {
  width: auto;
  font-size: 35px;
}

.descrição p {
  font-size: 20px;
  margin-right: 2em;
  text-align: justify;
}

.container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 3rem 0;
}

.container h2 {
  padding: 0 80px;
  font-size: 30px;
}

.container h3 {
  font-size: 28px;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.card {
  width: 15em;
  height: 15em;
  border-radius: 100%;
  margin: 3rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(200, 242, 255);
  background-image: url('');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0.5);
  color: black;
  cursor: pointer;
  transition: 0.5% ease-in-out;
  margin-left: 3em;
}

.card-container .card .card-wrapper a {
  text-decoration: none;
}

a {
  color: #0e0d0e;
}

.card-text {
  width: 50%;
  letter-spacing: 1px;
  color: rgb(109, 109, 109);
  text-align: justify;
  margin-top: 40px;
  margin-left: 3em;
  font-size: 22px;
  margin-right: 2em;
}

.card-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-wrapper h2 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  transition: 0.5s ease-in-out;
}

.card-wrapper p {
  font-size: 0px;
  visibility: visible;
  opacity: 0;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

.card:hover > .card-wrapper p {
  opacity: 1;
  visibility: visible;
  font-size: 14px;
}

p {
  color: rgb(109, 109, 109);
}

.footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(57, 65, 75);
  margin-right: auto;
}

.footer p {
  color: #ffffff;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.contact-info {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
}

.card1 {
    background-color: #2f3542;
    padding: 0 30px;
    margin: 0 10px;
    width: calc(33%, 20px);
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
   
}

.card-icon {
    font-size: 28px;
    background-color: #f15e44;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
    margin-right: 62px;
    margin-left: 66px;
    padding: auto;
}

.card1:hover .card-icon {
    background: none;
    color: #f15e44;
    transform: scale(1.6);
}

.card1 a {
    text-decoration: none;
    color: #fff;
}


.card1 p {
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}

.card1:hover p {
    max-height: 400px;
    opacity: 1;
    color: #fff;
}




@media only screen and (max-width: 768px) {
  .menu-itens ul li a{
    margin-right: 15px;
  
  }

  .container-header {
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    text-align: center;
  }
  
  .imagem-principal {
    margin: 0 auto;
    margin-top: 2em;
    width: 15em;
    height: 15em;
  }
  
  h1 {
    margin-top: 5em;
    font-size: 28px;
    
  }
  
  h2 {
    margin: 0;
    padding: 0;
    margin-top: 3em;
    width: auto;
    font-size: 20px;
    margin-bottom: 1.5em;
  }
  
  .bloco1 {
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }
  
  .bloco2 {
    margin-top: 2em;
  }
  
  .social-media1 ,
  .social-media2 {
    width: 15em;
  }
  
  .card-container {
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    margin: 2em 0;
    margin-left: 0;
  }
  
  .card-text {
    width: 80%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-size: 18px;
    margin-top: 1em;
  }

  main{
    flex-direction: column;
  }
  .card1{
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
    
  }
  
  .footer {
    margin-top: 2em;
    margin:auto;
  }
}


